---
import profile from "../images/profile.jpg";
import { Image } from "astro:assets";
---

<section
  class="flex flex-col gap-10 py-7 px-4 items-center justify-center bg-cyan-300/10 md:py-12 md:px-12 md:flex-row md:gap-[75px] lg:px-[175px]"
>
  <Image
    src={profile}
    alt="Foto de Luis Cervantes"
    width="192"
    class="rounded-full"
  />

  <div class="text-center md:text-left text-pretty">
    <h2 class="subtitle">Sobre el autor</h2>
    <p>
      ¡Hola! Soy Luis Cervantes, estudiante de Ingeniería en Tecnologías
      Computacionales en el Tecnológico de Monterrey y desarrollador Frontend
      autodidacta. He creado proyectos personales y freelance usando React,
      TypeScript, Tailwind CSS y Next.js, como el sitio del equipo Pasari y la
      app educativa VASI. Busco seguir creciendo y participar en proyectos que
      integren tecnología, diseño e innovación.
    </p>
  </div>
</section>

<style>
  h2 {
    margin-bottom: 20px !important;
  }
</style>
